@model IEnumerable<MyFirstApp.Models.User>

<h2>Users List</h2>
<p><a asp-action="Create">Add User</a></p>
<table class="table">
    <tr><th>Name</th><th>Age</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
        </tr>
    }
</table>