@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHepler
@model MyFirstApp.Models.UserListViewModel

<h2>Users Catalog</h2>

<form method = "get">
    <div>
        <label>Name: </label>
        <input asp-for="Name" />

        <label>Company: </label>
        <select name="company" asp-items="Model.Companies"></select>

        <input type="submit" value="Filter" />
    </div>
</form>

<table>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Компания</th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Company?.Name</td>
        </tr>
    }
</table>